<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="horseService" class="com.epam.course.springcore.service.HorseService"/>
	<bean id="raceService" class="com.epam.course.springcore.service.RaceService"/>
	<bean id="emulationService" class="com.epam.course.springcore.service.EmulationService" scope="prototype"/>
</beans>