<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">
			<value>custom.properties</value>
		</property>
	</bean>
	<bean id="a" class="com.epam.course.springcore.beans.A">
		<property name="name" value="${user.name}"></property>
		<property name="gender" value="${user.gender}"></property>
		<property name="country" value="${user.country}"></property>
	</bean>

	<bean id="ab" class="com.epam.course.springcore.beans.A">
		<property name="name" value="John"></property>
		<property name="gender" value="${user.gender}"></property>
		<property name="country" value="USA"></property>
	</bean>

	<bean id="b" class="com.epam.course.springcore.beans.B">
		<constructor-arg ref="ab"></constructor-arg>
	</bean>

	<bean id="c" class="com.epam.course.springcore.beans.C"
		scope="singleton">
		<lookup-method name="lookup" bean="d" />
	</bean>

	<bean id="d" class="com.epam.course.springcore.beans.D"></bean>

	<bean id="e" class="com.epam.course.springcore.beans.E">
		<replaced-method name="print" replacer="replacer"></replaced-method>
	</bean>

	<bean id="replacer"
		class="com.epam.course.springcore.beans.EReplacer">
	</bean>

	<bean id="f" class="com.epam.course.springcore.beans.F"
		init-method="customInit" destroy-method="customDestroy"
		lazy-init="true">
	</bean>


	<bean id="customBeanPostProcessor"
		class="com.epam.course.springcore.processors.CustomBeanPostProcessor" />
</beans>